<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tourist Place</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <br>

<nav id="navbar-example2" class="navbar sticky-top bg-body-tertiary">
  <a class="navbar-brand" href="#">Agra</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">Hotels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Restaurant</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading3">Things to do</a>
    </li>


  </ul>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
  <h4 id="scrollspyHeading1">Hotels</h4>
 
 <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>City Name</th>
      <th>Place to Visit</th>
      <th>Place Name</th>
      <th>Ratings</th>
    </tr>
  </thead>
  <tbody>
    {% for place in m %}
      {% if place.place_to_visit == "Hotels" %}
        <tr>
          <td>{{ place.city_name }}</td>
          <td>{{ place.place_to_visit }}</td>
          <td>{{ place.place_name }}</td>
          <td>{{ place.avg_scoreR }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

 
  <h4 id="scrollspyHeading2">Restaurants</h4>
  
  <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>City Name</th>
      <th>Place to Visit</th>
      <th>Place Name</th>
      <th>Ratings</th>
    </tr>
  </thead>
  <tbody>
    {% for place in m %}
      {% if place.place_to_visit == "Restaurant" %}
        <tr>
          <td>{{ place.city_name }}</td>
          <td>{{ place.place_to_visit }}</td>
          <td>{{ place.place_name }}</td>
          <td>{{ place.avg_scoreR }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

  
  <h4 id="scrollspyHeading3">Things to do</h4>
  <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>City Name</th>
      <th>Place to Visit</th>
      <th>Place Name</th>
      <th>Ratings</th>
    </tr>
  </thead>
  <tbody>
    {% for place in m %}
      {% if place.place_to_visit == "Things" %}
        <tr>
          <td>{{ place.city_name }}</td>
          <td>{{ place.place_to_visit }}</td>
          <td>{{ place.place_name }}</td>
          <td>{{ place.avg_scoreR }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
  
</div>



      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>