<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tourist Place</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <h1 >Tourist Places Recommendations using Sentiment Analysis</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="static/Mumbai.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/mumbai">Mumbai</a></h5>
        <p class="card-text">Mumbai, the financial capital of India, is a bustling metropolis that is home to numerous multinational corporations, as well as a thriving film and entertainment industry.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static/Ahmedabad.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/ahmedabad">Ahmedabad</a></h5>
        <p class="card-text">Ahmedabad, located in the western state of Gujarat, is famous for its textile industry, as well as historic landmarks such as the Sabarmati Ashram, which was the home of Mahatma Gandhi.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static/Pune.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/pune">Pune</a></h5>
        <p class="card-text">
          Pune, a city in Western India, is home to numerous educational institutions, and is known for its youthful vibe, excellent weather, and a range of outdoor activities.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static/Agra.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/agra">Agra</a></h5>
        <p class="card-text">Agra, located in Northern India, is home to the world-famous Taj Mahal, a UNESCO World Heritage Site and one of the Seven Wonders of the World, as well as other historic monuments and landmarks.
        </p>
      </div>
    </div>
  </div>
  
   <div class="col">
    <div class="card h-100">
      <img src="static/Jaipur.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/jaipur">Jaipur</a></h5>
        <p class="card-text">Jaipur, the "Pink City" located in the state of Rajasthan, is known for its stunning palaces and forts, vibrant culture, and beautiful handicrafts.</p>
      </div>
    </div>
  </div>
  
     <div class="col">
    <div class="card h-100">
      <img src="static/Delhi.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/new_delhi">New Delhi</a></h5>
        <p class="card-text">Delhi, the capital of India, is a bustling metropolis that combines the old and new, with numerous historic monuments, bustling markets, and modern infrastructure.</p>
      </div>
    </div>
  </div>
  
       <div class="col">
    <div class="card h-100">
      <img src="static/Udaipur.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/udaipur">Udaipur</a></h5>
        <p class="card-text">Udaipur, located in the state of Rajasthan, is a city of lakes and palaces, known for its romantic charm, stunning architecture, and rich cultural heritage.</p>
      </div>
    </div>
  </div>
  
       <div class="col">
    <div class="card h-100">
      <img src="static/Bangalore.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/bangalore">Bangalore</a></h5>
        <p class="card-text">
          Bangalore, located in Southern India, is known as India's Silicon Valley, as it is home to numerous multinational technology companies, as well as a thriving start-up ecosystem.</p>
      </div>
    </div>
  </div>
  
       <div class="col">
    <div class="card h-100">
      <img src="static/Kolkata.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/kolkata">Kolkata</a></h5>
        <p class="card-text">
          Kolkata, the cultural capital of India, is located in Eastern India and is renowned for its colonial architecture, bustling streets, and rich history of art, literature, and music.</p>
      </div>
    </div>
  </div>
  
       <div class="col">
    <div class="card h-100">
      <img src="static/Chandigarh.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/chandigarh">Chandigarh</a></h5>
        <p class="card-text">Chandigarh, located in Northern India, is a well-planned city that serves as the capital of both Punjab and Haryana, and is known for its modernist architecture, beautiful gardens, and vibrant cultural scene.</p>
      </div>
    </div>
  </div>
  
       <div class="col">
    <div class="card h-100">
      <img src="static/Goa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/goa">Goa</a></h5>
        <p class="card-text">Goa, located on the western coast of India, is a beach paradise known for its picturesque beaches, laid-back lifestyle, and vibrant nightlife.</p>
      </div>
    </div>
  </div>
  
       <div class="col">
    <div class="card h-100">
      <img src="static/Varanasi.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="/varanasi">Varanasi</a></h5>
        <p class="card-text">Varanasi, situated on the banks of the river Ganges in Northern India, is one of the world's oldest inhabited cities, and is considered to be the spiritual capital of India, attracting millions of pilgrims each year.
        </p>
      </div>
    </div>
  </div>
  

  
  
  
  
</div>	

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>